.blog-control{
    width: 100%!important;
    display:flex;
    padding-inline: 10rem;
    padding-block: 3rem;;
    font-size: 1rem;
    color: #495057;
    background-color: var(--background-color);
    background-clip: padding-box;
    flex-direction: column;
    
}
.blog-box {
    width: 100%!important;
    background-color: white;
    padding: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(145, 144, 144, 0.993), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
    
}
.title-box{
   margin-bottom: 50px;
}
.content-box{
    display: flex;
    
    width: 100%!important;
}
.content-blog{
    display: flex;
    
    width: 100%!important;
}
.content-blog p{
    width: 100%!important;
    word-wrap: break-word !important; 
    overflow-wrap: break-word !important; 
}