@media  (min-width: 2100px) {
    .home,.about{
       padding-inline: 40rem !important;
       
    }  
.personalskill-content{
   
    padding-inline: 30rem !important;
    }
}

@media  (max-width: 750px) {

.home, .myskill{
    padding-block: 2rem !important;
    
    height:auto !important;
}
.home-content{
    display: flex !important;
    flex-direction: column-reverse !important;
    padding-block: 2rem !important;
    align-items: center;
    width: 100%;
}
    .about,.about-text{
        display: flex !important;
        flex-direction: column !important;
        padding-block: 2rem !important;
        padding:2rem 4rem !important;
        height:auto !important;
    }
.home-content-left{
    position: relative;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

}
.home-content-right img{
    border: 2px  solid white;
    box-shadow: 0.5rem 0.5rem 1rem rgb(120, 207, 236), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    margin-bottom: 3rem !important;
}
.personalskill-content{
    flex-direction: column !important;
    padding-block: 4rem !important;
    padding-inline: 4rem !important;
    justify-content: center!important;
  
    
  } 
  
  .personalskill-content .headingskill1{
     margin-bottom: 2rem;
    } 
  .radial-bars{
      margin-inline: 5rem !important;
      
  }
  .radial-bars .radial-bar {
      height: 13rem !important;
   }
  .radial-bars .radial-bar svg{
      width:10rem !important;
      height:10rem !important;
   }
   .radial-bar .text{
      
      top: 0px !important;;
     
    }
}


@media  (max-width: 750px) {

    .home, .myskill,.about{
        padding-block: 2rem !important;
        padding:0 !important;
     
    }
    .home-content{
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .about,.about-text{
        display: flex !important;
        flex-direction: column !important;
        padding-block: 2rem !important;
        padding:2rem 4rem !important;
        height:auto !important;
    }
    .home-content-left{
        position: relative;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    
    }
    .home-content-right img{
        border: 2px  solid white;
        box-shadow: 0.5rem 0.5rem 1rem rgb(120, 207, 236), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
        margin-bottom: 3rem !important;
    } 
   
    
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-inline: 20rem;
    height:40rem ;
}
.home-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-content-left{
    max-width: 600px;
    position: relative;
}
.home-content-left h3{
    font-size: 2rem;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7sec;
}

.text-span{
    font-size: 4vmin;
    font-weight: 700;
    animation: netflix_style 3.5s infinite;
    outline: none;
    white-space: nowrap;
}


.home-content-left  h1{
    font-size: 2.3rem;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7sec;
}
.home-content-left p{
    font-size: 1.2rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 2px solid rgb(142, 170, 178);
    font-size: 1.5rem;
    color: rgb(142, 170, 178);
    border-radius: 50%;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background-color: rgb(142, 170, 178);
    color: var(--background-color);
    border: 2px solid  var(--background-color);
    box-shadow: 0 0 20px  rgb(142, 170, 178);
}

.home-content-right{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}
.home-content-right img{
    border: 2px  solid white;
    box-shadow: 0.5rem 0.5rem 1rem rgb(120, 207, 236), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    margin-bottom: 10rem;
}
/* /////////////////////////////////////////// */
.about{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center; 
    gap: 1.5rem;
    width: 100%;
    padding-inline: 20rem;
    height:40rem ;
    background: white;
}  

.about-img img{
    border: 2px  solid white;
    box-shadow: 0.5rem 0.5rem 1rem rgb(120, 207, 236), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    max-width: 630px;
    height: auto;
    width: 100%;
    
}
.about-text h2{
    font-size: 3rem;
}
.about-text h2 span{
    color: black;
}

.about-text h4{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7;
    margin: 0.5rem 0 1rem;
}

.about-text p{
    color: black;
    line-height: 1.4;
    margin-bottom: 4rem;
}



/* //////////////////// */

.myskill{
    position: relative;
    width: 100%;
    padding-inline: 10rem;
    height:100% ;
}

.myskill-content{
    padding-block: 3rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
   
    
}
.headingskill{
    text-align:center;
    width: 100%;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
}

.Techincal-bars{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Techincal-bars .bar{
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
  
    
}
.Techincal-bars .bar .info{
    margin-bottom: 1rem;
  
  
}
.Techincal-bars .bar .info span{
    font-size: 1.3rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}

.Techincal-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 60%;
    height: .8rem;
    background-color:  white;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform:  scaleX(0);
    transform-origin: left;
    border: 1px solid black;
}
.Techincal-bars .bar .progress-line span{
    height: 100%;
    background-color:black;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform:scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 40%;
}
.progress-line.css span{
    width: 50%;
}
.progress-line.javascript span{
    width: 50%;
}
.progress-line.react span{
    width: 50%;
}
.progress-line.mongodb span{
    width: 50%;
}
.progress-line.mysql span{
    width: 50%;
}
.progress-line.expressjs span{
    width: 65%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: white(255, 255, 255) ;
    color: black;
    font-size: .8rem;
    top:-28px;
    right: -20px;
    animation:  showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content:"40%"
}
.progress-line.css span::after{
    content:"50%"
}
.progress-line.javascript span::after{
    content:"50%"
}
.progress-line.react span::after{
    content:"50%"
}
.progress-line.mongodb span::after{
    content:"50%"
}
.progress-line.mysql span::after{
    content:"50%"
}
.progress-line.expressjs span::after{
    content:"65%"
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width:0px ;
    border-right-width: 0px;
    border-top-color: #010106;
    top:-10px;
    right:0px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}


/* //////////// */

.personalskill{
    position: relative;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    height:100% ;
    background-color: white;
}

.personalskill-content{
    padding-block: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-inline: 20rem;
}
.headingskill1{
    text-align:center;
    width: 100%;
    text-decoration: underline;
    text-underline-offset: 5px;
    
}
.radial-bars{
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.radial-bar-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.radial-bar-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content:center;
}
.radial-bars .radial-bar{
    width: 20rem;
    height: 20rem;
    position: relative;
   
 }
 .radial-bars .radial-bar svg{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width:15rem;
    height:15rem;
 }
 .radial-bars .radial-bar .progress-bar{
    stroke-width: 11;
    stroke: black;
    fill:transparent;
    stroke-dashoffset: 502;
    stroke-dasharray: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
 }
.path{
    stroke-width: 10;
    stroke: white;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
    animation: animate-path1 1s 1s linear forwards ;
}
.path-2{
    animation:animate-path2 1s 1s linear forwards ;
}
.path-3{
    animation:animate-path3 1s 1s linear forwards ;
}
.path-4{
    animation:animate-path4 1s 1s linear forwards ;
}


  .radial-bar .percentage{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
  }

  .radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    top:10px;
    font-size: 1rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
  }



  @keyframes netflix_style {
    0% {
      text-shadow: makelongshadow(100,1);
      color:#f3f3f3;
      transform: scale(1.5, 1.5);
    }
    10% {
      text-shadow: makelongshadow(100,1.5);
      color:#4a81d5;
      transform: scale(1.5, 1.5);
    }
    15% {
       color:#2a2f96;
    }
    20% {    
      color:#201246;
      text-shadow: none;
      transform: scale(1.1, 1.1);
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 0;    
      color:#010106;
      transform: scale(0.85, 0.9);
    }
    100% {
      opacity: 0;
    }
  }  
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 376.5;;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset: 351.4;;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset: 401;;
    }
}

@keyframes animate-path4{
    100%{
        stroke-dashoffset: 401;;
    }
}